{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

<div class="container">
<div class="row">

	<div style="width:70%;  margin: 0 auto;">

	{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal' } }) }}
    {{ form_widget(form) }}
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-default pull-right"/>
	{{ form_end(form) }}

	</div>
  </div>
</div>
