body {
    background-color: #333;
    line-height: normal;
    font-family: 'Muli', serif;
}

.projects_links {
    text-decoration: none;
	color: white;
}

projects_links:hover, a:focus {
    text-decoration: none;
	color: white;
}

.homebody-content {
    color: white;
}

.white-text {
	color: white;
}

.square {
    word-wrap: break-word;
    max-height: 195.63px;    
    float:left;
    position: relative;
    width: 20%;
    min-width: 220px;
    padding-bottom : 1%; /* = width for a 1:1 aspect ratio */
    margin:0%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    border: 1px solid gray;
    background-color: gray;
}

.square:hover > h3{
    text-shadow: 0 0 10px #FFF,
    0 0 10px #FFF,
    0 0 10px #888888,
    0 0 10px #888888,
    0 0 10px #888888,
    0 0 10px #888888,
    0 0 10px #888888,
    0 0 10px #888888;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.btn {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

}

.separator {
    height: 60px;
    width: 100%;
/*    background: linear-gradient(#AAA, #999, #272827, #333, #272827, #999, #AAA);
    background: linear-gradient(to bottom, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
    background: linear-gradient(to bottom, 
        rgba(255,255,255,0.3) 0%,
        rgba(125,125,125,0.3) 25%,
        rgba(51,51,51,0.5) 50%,
        rgba(125,125,125,0.3) 75%,
        rgba(255,255,255,0.3) 100%)    
*/
    background: linear-gradient(to bottom, 
        rgba(125,125,125,0.7) 0%,
        rgba(71,71,71,1) 20%,
        rgba(51,51,51,1) 40%,
        rgba(51,51,51,1) 20%,
        rgba(51,51,51,1) 60%,
        rgba(71,71,71,1) 80%,
        rgba(125,125,125,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    
}

.btn-file {
    width: 100px;
    height: 32px;
    margin-left: 2%;
}

.form-control {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

}

.square:hover {
    color:white;
    border: 1px solid darkgray;
}

.absolute > video {
    position: absolute;
    opacity: .8;
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.on-top {
    position: relative;
    opacity: 1;
    z-index: 3;
}

.flash-success {
    text-align: center;
    color: #3c763d;
}

#loading img {
    height: 100px;
    opacity: .5;
    -webkit-filter: grayscale(100%); filter: grayscale(25%);
}

.glyphicon {
        word-spacing: -0.5em;
}

.glyphicon:before {
        padding-right: 0.5em;
}
.sign-up {
    font-size: 16px;
    color: #FFF;
}
.sign-up:hover {
    text-decoration: none;
    color: #000;
}
.navbar-default { 
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13pt;
    padding-bottom: 20px;
/*    background-image: linear-gradient(to bottom,#000 0%,#111 100%);*/
    background: linear-gradient(to bottom, 
        rgba(0,0,0,1) 0%,
        rgba(71,71,71,1) 100%,
        rgba(125,125,125,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    

}

.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: red;
/*    color: #F00;*/
    text-shadow: 0 0 12px #FFFFFF,
    0 0 12px #FFFFFF,
    0 0 12px #FFFFFF,
    0 0 12px #FFFFFF,
    0 0 12px #FFFFFF,
    0 0 12px #FFFFFF,
    0 0 12px #FFFFFF,
    0 0 12px #FFFFFF;

}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: 0 0px 0 rgba(255,255,255,.25);
}

.navbar-fixed-top {
    border-width: 0 0 0;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #F00;
    background: #000000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {

}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}

.dropdown-menu {
    background-color: #000;
}

.dropdown-menu>li>a {
    color: #FFF;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    text-shadow: 0 0 12px #FFFFFF,
    0 0 12px #FFFFFF,
    0 0 12px #FFFFFF,
    0 0 12px #FFFFFF,
    0 0 12px #FFFFFF,
    0 0 12px #FFFFFF,
    0 0 12px #FFFFFF,
    0 0 12px #FFFFFF;    
}
